//COLORS
$color-primary:#303133;
$color-primary-light:#ec7373;
$color-primary-dark:#690b0b;
$color-red-border:#C0392B;
$color-authority-primary:#22313F;
$color-agency-primary:#913D88;
$color-individual-primary:#F7CA18;
$color-police-primary:#6C7A89;

$color-grey-light-1: #f7f7f7;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-arts-primary:rgb(255, 216, 155);    
$color-arts-secondary:rgb(25, 84, 123);
//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;