//COLORS
$color-primary:#303133;
$color-primary-light:#ec7373;
$color-primary-dark:#690b0b;
$color-red-border:#C0392B;
$color-authority-primary:#22313F;

$color-grey-light-1: #f7f7f7;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-arts-primary:#ffd89b;    
$color-arts-secondary:#19547b;
//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;